<%= form_for @product, html: { multipart: true } do |f| %>
  <% if current_admin %>
    <div class="form-group">
      <%= f.check_box :is_pro %>
      <%= f.label :is_pro, "Pro Product?" %>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, autofocus: true, class: "form-control" %><br>
    </div>

    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control" %><br>
    </div>

    <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image %><br>
    </div>
  <% end %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
